html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #241E5A;
    color: white;
    margin-bottom: 60px;
}

.vertical-line {
    border-left: thin solid white;
}

.nav-buttons {
    margin-right: 5px;
}

.form-header {
  margin-left: 4vw;
}

.form {
  margin-left: 3vw;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}
