{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<article class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red)-->
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
        <h2>Edit "{{exercise.name}}" in "{{category.name}}"</h2>
        <hr/>
    </div>

    <div>
        <form action="{{url_for('edit_exercise', category=category.name, exercise=exercise.name)}}" method="POST">
            <div class="input-group col-xs-4">
                <span class="input-group-addon" id="name">Name:</span>
                <input name="name" type="text" class="form-control" placeholder="{{exercise.name}}"
                    aria-describedby="name" value="{{exercise.name}}">
            </div>
            <br>

            <div class="input-group col-xs-6">
                <span class="input-group-addon" id="description">Description:</span>
                <textarea name="description" type="text" class="form-control" aria-describedby="description"
                    rows="2">{{exercise.description}}</textarea>
            </div>
            <br>

            <div class="input-group col-xs-6">
                <span class="input-group-addon" id="url">Embedded URL:</span>
                <input name="url" type="text" class="form-control" placeholder="{{exercise.url}}"
                    aria-describedby="url" value="{{exercise.url}}">
            </div>
            <br>
            <div class="input-group col-xs-4">
                <label for="category"><span class="input-group-addon">Category:</span></label>
                {% for c in categories %}
                <div class="radio">
                    <label>
                        <input type="radio" name="category" value="{{c.name}}"
                            {% if category.name == c.name %}
                                checked
                            {% endif %}
                        >{{c.name}}
                    </label>
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true">
                    </span> Save
                </button>
            </div>
            <br>
        </form>


        <div>
            <a href="{{url_for('view_exercise', category=category.name, exercise=exercise.name)}}">
                <button class="btn btn-default delete">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span> Cancel
                </button>
            </a>
        </div>
    </div>
</article>
{% include "footer.html" %}
{% endblock %}
