<header class="row top-menu">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header col-xs-9">
				<a href="{{url_for('index')}}">
					<h4><span class="glyphicon glyphicon-home" aria-hidden="true">
					</span> Catalog Home</h4>
				</a>
			</div>

			{% if 'username' in session %}
			<div class="col-xs-3 text-right">
				<a href="{{url_for('disconnect')}}">
					<button type="button" class="btn btn-default navbar-btn">Sign Out</button>
				</a>
			</div>

			{% else %}
			<div class="col-xs-3 text-right">
				<a href="{{url_for('login')}}">
					<button type="button" class="btn btn-default navbar-btn">Sign in</button>
				</a>
			</div>
			{% endif %}
		</div>
	</nav>
</header>
