{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<article class="row text-center">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h1>Welcome to the Exercise Instruction Catalog!</h1>
        <hr>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h3>Let's get started!</h3>
    </div>
    <div class="col-xs-6">
        <h3>Choose a category</h3>
        {% for category in categories %}
        <h3><a href="{{url_for('view_goal', goal=category.name)}}">
            {{category.name}}</a>
        </h3>
        {% endfor %}
    </div>
    <div class="col-xs-6 vertical-line">
        <h3>Recently Added Exercises</h3>
        {% for exercise in exercises %}
        {% with id = exercise.category_id %}
        <h3><a href="{{url_for('view_exercise', goal=get_category(id),
            exercise=exercise.name)}}">{{exercise.name}}</a>
        </h3>
        {% endwith %}
        {% endfor %}
    </div>
</article>

{% include "footer.html" %}
{% endblock %}
