{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<article class="row text-center">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <h1>Welcome to the Exercise Instruction Catalog!</h1>
        <hr>
    </div>

    <div class="panel panel-default col-xs-10 col-sm-4 col-xs-offset-1">
        <div class="panel-heading">Choose an Exercise Category</div>

        <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item">
                <a href="{{url_for('view_category', category=category.name)}}">
                {{category.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="panel panel-default col-xs-10 col-sm-4 col-xs-offset-1 col-sm-offset-2">
        <div class="panel-heading">Most Recently Added Exercises</div>

        <ul class="list-group">
            {% for exercise in exercises %}
            {% with id = exercise.category_id %}
            <li class="list-group-item">
                <a href="{{url_for('view_exercise', category=get_category(id),
                    exercise=exercise.name)}}">{{exercise.name}}</a>
            </li>
            {% endwith %}
            {% endfor %}
        </ul>
    </div>
</article>

{% include "footer.html" %}
{% endblock %}
