{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<article class="row text-center">
    {% with messages = get_flashed_messages() %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red)-->
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Solid work!  </strong>{{message}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="col-xs-12">
        <h2>{{exercise.name}} in {{category.name}}
            <a href="{{url_for('edit_exercise', category=category.name,
                exercise=exercise.name)}}">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true">
                    </span>Edit
                </button>
            </a>
            <a href="{{url_for('delete_exercise', category=category.name,
                exercise=exercise.name)}}">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span>Delete
                </button>
            </a>
        </h2>
        <hr/>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="{{exercise.url}}"></iframe>
        </div>
        <div>
            <h4>{{exercise.description}}</h4>
        </div>
    </div>
</article>
{% include "footer.html" %}
{% endblock %}
