{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<article class="row text-center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Nailed it!  </strong>{{message}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
        <h2>{{category.name}} Category</h2>
        <hr/>
    </div>

    {% for exercise in exercises %}
    <div class="col-xs-12 col-sm-6">
        <div>
            <h3><a href="{{url_for('view_exercise', category=category.name,
                exercise=exercise.name)}}">{{exercise.name}}</a></h3>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="{{exercise.url}}"></iframe>
        </div>
        <div>
            <h4>{{exercise.description}}</h4>
            <br/>
            <a href="{{url_for('edit_exercise', category=category.name,
                exercise=exercise.name)}}">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true">
                    </span>Edit
                </button>
            </a>
            <a href="{{url_for('delete_exercise', category=category.name,
                exercise=exercise.name)}}">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span>Delete
                </button>
            </a>
        </div>
        <hr/>
        <br/>
    </div>
    {% endfor %}

    <div class="col-xs-12 col-sm-6">
        <div>
            <h3>Add New Exercise</h3>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
          <a href="{{url_for('new_exercise', category=category.name)}}">
            <img class="embed-responsive-item"
                src="{{url_for('static', filename='add_new.png')}}"></img></a>
        </div>
        <div>
            <h4>Click above to make a new Exercise. Let's do this!</h4>
        </div>
        <hr/>
        <br/>
    </div>

</article>
{% include "footer.html" %}
{% endblock %}
